/*
UTF-8
@author  RDM:默鱼
@Email   feiyufly001@hotmail.com
@Creat   2018-3-3 21:59:26
@Modify  2018-3-3 21:59:26
@CopyRight:  2018 by RDM
*/
/* 
    Created on : 2018-3-3, 21:59:26
    Author     : RDM:默鱼
*/

/* login */
body {
    background: url("../image/bg.png") repeat fixed;
}