@charset "utf-8";
/* CSS Document */
.banner1{ width:100%; height:554px; overflow:hidden; position:relative;}
.banner1 img{ width:1920; height:554; position:absolute; left:50%; margin-left:-960px; position:relative;}

/*侧导航*//*内容一*/
.main{ width:1200px; height:auto; margin:0 auto; overflow:hidden;}
.TP{ width:250px; height:300px; margin-top:55px;}
.ce-nav{ height:auto; width:250px; font-size:18px; position:relative;}

.contact{ width:250px; height:115px; margin:50px auto 0;}
.main-r{ width:910px; height:auto; float:right;}
.head{ width:910px; height:97px;border-bottom:2px solid #014fb1;}
.head span{font-size:24px;color:#000; margin:0 5px; height:97px; line-height:130px;} 
.head i{font-size:14px;color:#000;}
.head em{ float:right;height:97px; line-height:140px; font-family:"宋体"; }
.head em a{ color:#000; margin-left:5px;}
.head em a:hover{ color:#09F;}
.product-detail{ width:910px; height:auto; overflow:hidden; margin-bottom:20px;}
.product-detail h2{ font-size:24px; font-family:"Times New Roman"; margin-top:37px;}
.product-detail h3{ font-size:18px; margin:35px auto;}
.product-detail p{ font-size:14px; font-family:"宋体"; width:910px;margin-bottom:10px; line-height:25px;}
.detail{ width:910px; height:auto; overflow:hidden;}
.tupian{ width:205px; height:200px; float:left; margin-right:20px;}
.XQ{ width:auto; height:auto;}
.XQ H2{ font-size:18PX; line-height:30px; margin-bottom:15px;}
.XQ p{ font-size:14px; font-family:"宋体"; line-height:18px; color:#262626; }
.JS{ width: auto; height:auto; margin-top:40px;}
.JS h2{ font-size:24px; margin-bottom:20px;}
.JS p{font-size:18px; font-family:"宋体"; color:#262626; line-height:30px;}

.newcontent img{
   width: 98%;
   cursor: pointer;
}
