<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link type="text/css" href="css/about us.css" rel="stylesheet" />
<link type="text/css" href="css/base.css" rel="stylesheet" />
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/js.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联合利华-公司介绍</title>
</head>

<body>
<!--头部-->
<div class="bg">
	<div class="logo">
    	<a href="#"><img src="images/logo.jpg" /></a> </div>
    <div class="tel">
    <h2>400-001-0002</h2>
    </div>
    </div>
<!--导航-->
<div class="nav">
<div class="nav-bg">
<ul>
<li><a href="index.html">网站首页</a></li>
<li class="on"><a href="about us.html">公司介绍</a></li>
<li><a href="news.html">新闻中心</a></li>
<li><a href="product.html">产品中心</a></li>
<li><a href="contact.html">联系我们</a></li>
</ul>
</div>
<div id="searchbox">
<input type="text" id="wenben" value="关键词搜索" />
<a href="#"><img src="images/nav-search.png" /></a>
</div>
</div>
<!--大背景-->
<div class="banner1">
 <img src="images/banner2.jpg" />
</div>
<!--内容一-->
<div class="w1200"><div class="menu">
<i>A</i><em>关于我们<br />BOUT US</em>
</div></div>
<div class="main">
<div class="main-l">
<div class="ce-nav">
<div class="list"><ul>
<li class="on1"><a href="#">公司介绍</a></li>
<li><a href="#">公司理念</a></li>
<li><a href="#">公司文化</a></li>
<li><a href="#">公司团队</a></li>
</ul></div>
</div>
<div class="contact">
<div class="number">
<h2>400-001-0002 </h2>
</div>
<div class="e-mail">
<h2>lihelihua@sine.com</h2>
</div>
<div class="TP">
<img src="images/1.jpg" />
</div>
</div>

</div>
<div class="main-r">
<div class="head">
<span>公司介绍</span><i>Company introduction</i>
<em>当前位置&gt;&gt;<a href="#">关于我们</a>&gt;&gt;<a href="#">公司介绍</a></em>    
</div>
<div class="foot">
<h2>减轻家务负担，让使用者生活更美好<br /><span>William Heskith Lever</span></h2>
<p>19世纪90年代，William Heskith Lever，联合利华的创始人之一，便提出了“减轻家务负担，让使用者生活更美好”的理念。联合利华的全球愿景:每一天，我们都致力于创造更美好的未来。我们的优质产品和服务，使人心情愉悦、神采焕发，享受更加完美生活；我们将激发人们：通过每天细微的行动，积少成多而改变世界；我们致力于减少对环境的不利影响，并提高积极的社会影响，引领负责任的增长方式，启发人们通过每天的小行动创造大不同。</p><br />

<p>1929年，英国Lever公司与荷兰Margarine Unie公司签订协议，组建Unilever (联合利华) 公司。经过80年的发展，联合利华公司已经成为了世界上最大的日用消费品公司之一，在全球拥有超过171,000名雇员。2011财政年度，公司全年销售额约465亿欧元。联合利华的400多个品牌的产品畅销全球190多个国家和地区，我们是全球最大的冰淇淋、茶饮料、人造奶油和调味品生产商之一，也是全球最大的除味剂和大众护肤产品生产商之一。每天有20亿消费者在世界各地使用联合利华的产品，每年全球的消费者共购买1700亿件联合利华的产品。我们的品牌受到各地消费者的信赖，家乐、立顿,、奥妙、力士、多芬、舒耐、凌仕、和路雪冰激凌等都已经成长为销售额超过10亿欧元品牌。联合利华在前沿研发领域每年投资超过10亿欧元。设立于英国、荷兰、美国、印度和中国的全球六大研发中心，正在不断探索革新产品的新技术和新理念，为消费者提供更物超所值的品牌和产品。作为世界最大的广告主之一，联合利华赢得了多项戛纳广告大奖，并在2010年被评为年度最佳广告主。我们在六大洲拥有270个生产基地。它们不断追求在安全、高效、优质与环保方面更优异的表现，执行联合利华全球的标准与管理体系。联合利华相信成功的企业必须要以负责任的态度对社会产生积极的影响。我们与社会共同创造财富、分享财富，支持当地经济发展，为社会培养人才，并积极担负企业社会责任。2009年，联合利华在全球公益事业上共计投资8900万欧元。</p><br />

<p>联合利华相信成功的企业必须要以负责任的态度对社会产生积极的影响。我们与社会共同创造财富、分享财富，支持当地经济发展，为社会培养人才，并积极担负企业社会责任。2009年，联合利华在全球公益事业上共计投资8900万欧元。 </p>
</div>
<div class="DATU">
<img src="images/2.jpg"  class="photo"/>
<img src="images/3.jpg"  class="photo2"/>
</div>
</div>
</div>
<!--底部-->
<div class="dibu">
<div class="main04">
<ul>
<li><a href="#"><img src="images/6.jpg" /><br />我们<br /><i>We</i></a></li>
<li><a href="#"><img src="images/7.jpg" /><br />动态<br /><i>Dynamic</i></a></li>
<li><a href="#"><img src="images/8.jpg" /><br />产品<br /><i>Product</i></a></li>
</ul>
</div>
<div class="dibu-box">
<div class="dibu-l">
<img src="images/foot-logo.jpg" />
</div>
<div class="dibu-m">
<p class="address">公司地址：湖南省长沙市开福区五一大道湘江明珠大厦</p><br />
<p class="font">版权所有：Copyright © 2005-2011 www.cml.com.cn All Rights Reserved.</p>
</div>
<div class="dibu-r">
<i>QQ:400000000</i><br />
<em>官方网站:www.lianhelihua.com</em>

</div>
</div>
</div>
</body>
</html>
