<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link type="text/css" href="css/style.css" rel="stylesheet" />
<link type="text/css" href="css/base.css" rel="stylesheet" />
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/js.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联合利华-首页</title>
</head>

<body>
<!--头部-->
<div class="bg">
	<div class="logo">
    	<a href="#"><img src="images/logo.jpg" /></a> </div>
    <div class="tel">
    <h2>400-001-0002</h2>
    </div>
    </div>
<!--导航-->
<div class="nav">
<div class="nav-bg">
<ul>
<li class="on"><a href="index.html">网站首页</a></li>
<li><a href="about us.html">公司介绍</a></li>
<li><a href="news.html">新闻中心</a></li>
<li><a href="product.html">产品中心</a></li>
<li><a href="contact.html">联系我们</a></li>
</ul>
</div>
<div id="searchbox">
<input type="text" id="wenben" value="关键词搜索" />
<a href="#"><img src="images/nav-search.png" /></a>
</div>
</div>
<!--大背景-->
<div class="banner">
 <img src="images/banner.jpg" />
</div>
<!--内容一-->
<div class="main-index">
<div class="box1">
 <h2>新闻动态<span>NEWS</span></h2>
 <div class="texiao">
 <div class="GD">  
 <p><i>2016年1月1日<br />清扬是法国清扬技术中心的研究结晶</i><br />
 清扬是法国清扬技术中心的研究结晶，产品的附加值突破在于“维他矿物群”去屑，并拥有全球专利及临床测试验证，同时为“维他矿物群”进行了商标知识产权注册。<br />
在过去10年中，联合利华研发中心在中国已为超过3000名消费者进行过临床实验，以更多了解中国消费者头皮状况和问题从而为中国消费者提供更精纯的去屑产品配方。根据联合利华公司披露的信息，其一直在为研究适合中国人的去屑产品而努力。</p> 
<p><i>2016年1月1日<br /> 清扬是法国清扬技术中心的研究结晶</i><br />
 清扬是法国清扬技术中心的研究结晶，产品的附加值突破在于“维他矿物群”去屑，并拥有全球专利及临床测试验证，同时为“维他矿物群”进行了商标知识产权注册。<br />
在过去10年中，联合利华研发中心在中国已为超过3000名消费者进行过临床实验，以更多了解中国消费者头皮状况和问题从而为中国消费者提供更精纯的去屑产品配方。根据联合利华公司披露的信息，其一直在为研究适合中国人的去屑产品而努力。</p> 
<p><i>2016年1月1日<br />清扬是法国清扬技术中心的研究结晶</i><br />
 清扬是法国清扬技术中心的研究结晶，产品的附加值突破在于“维他矿物群”去屑，并拥有全球专利及临床测试验证，同时为“维他矿物群”进行了商标知识产权注册。<br />
在过去10年中，联合利华研发中心在中国已为超过3000名消费者进行过临床实验，以更多了解中国消费者头皮状况和问题从而为中国消费者提供更精纯的去屑产品配方。根据联合利华公司披露的信息，其一直在为研究适合中国人的去屑产品而努力。</p> 
	</div>
    	</div>
<div class="a" >
<a href="javascript:" class="a1 on"></a>
<a href="javascript:" class="a2"></a>
<a href="javascript:" class="a3"></a>
		</div>
</div>

<div class="box2">
<h2>公司介绍<span>ABOUT US</span></h2>
<ul>
<li><img src="images/company.jpg" /></li>
<li><img src="images/company1.jpg" /></li>
<li><img src="images/company2.jpg" /></li>
</ul>
<div id="a" >
<a href="javascript:" class="a1 on1"></a>
<a href="javascript:" class="a2">
</a><a href="javascript:" class="a3"></a></div>
</div>
<div class="box3">
<h2>联系我们<span>COMPANY BUSSINESS</span></h2>
<form>
<table cellpadding="0" cellspacing="0">
<tr>
<td>姓　　名</td><td><input type="text" class="txt" /></td>
</tr>
<tr>
<td>E-mail</td><td><input type="text" class="txt" /></td>
</tr>
<tr>
<td>电　　话</td><td><input type="text" class="txt" /></td>
</tr>
<tr>
<td valign="top">留　　言</td><td><textarea cols="23" rows="4"  class="txt1"></textarea></td>
</tr>
<tr>
<td></td><td><a href="#"  class="submit"><img src="images/tijiao.jpg"/></a><a href="#" class="reset"><img src="images/reset.jpg" /></a></td>
</tr>
</table>
</form>
<div class="login">
<a href="www.weibo.com" class="weibo"><img src="images/weib.gif"/></a><a href="#" class="qq"><img src="images/qq.gif" /></a><a href="#" class="weixin"><img src="images/weixin.gif" /></a>
</div>
</div>

</div>
<!--内容二-->
<div class="main01">
<h2>ai<span>精彩</span></h2>
<br />
<a href="#">会员专属活动</a><a href="#">更多精彩</a><a href="#">更多实惠</a><a href="#">不容错过</a>
</div>
<!--内容三-->
<div class="main03">
<div class="main03-l">
<a href="#"><img src="images/button.gif" /></a>
</div>
<div class="main03-r">
<div class="top">
<div class="left">
<a href="#"><img src="images/button.gif" /></a>
</div>
<div class="right">
<a href="#"><img src="images/button.gif" /></a>
</div>
</div>
<div class="bottom">
<div class="zuo">
<a href="#"><img src="images/button.gif" /></a>
</div>
<div class="you"><a href="#">
<img src="images/button.gif" /></a>
</div>
</div>
</div>

</div>
<!--内容四-->
<div class="yanzheng">
<ul>
<li><img src="images/yanzheng.jpg" />
<b></b>
<div class="box">
<i>足不出户，验证手中产品是否正品</i><br />
<div class="txt-box">
<em>请输入产品序列号</em>
<input type="text" value="6520FZ0514" id="txt" />
<a href="#"><img src="images/4.jpg" /></a>
</div>
<div class="bigbox">
<a href="#">正品验证</a><a href="#">延长质保</a>
</div>
</div>

</li></ul>

</div>
<!--底部-->
<div class="dibu">
<div class="main04">
<ul>
<li><a href="#"><img src="images/6.jpg" /><br />我们<br /><i>We</i></a></li>
<li><a href="#"><img src="images/7.jpg" /><br />动态<br /><i>Dynamic</i></a></li>
<li><a href="#"><img src="images/8.jpg" /><br />产品<br /><i>Product</i></a></li>
</ul>
</div>
<div class="dibu-box">
<div class="dibu-l">
<img src="images/foot-logo.jpg" />
</div>
<div class="dibu-m">
<p class="address">公司地址：湖南省长沙市开福区五一大道湘江明珠大厦</p><br />
<p class="font">版权所有：Copyright © 2005-2011 www.cml.com.cn All Rights Reserved.</p>
</div>
<div class="dibu-r">
<i>QQ:400000000</i><br />
<em>官方网站:www.lianhelihua.com</em>

</div>
</div>
</div>
</body>
</html>