<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link type="text/css" href="css/news.css" rel="stylesheet" />
<link type="text/css" href="css/base.css" rel="stylesheet" />
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/js.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联合利华-新闻中心</title>
</head>

<body>
<!--头部-->
<div class="bg">
	<div class="logo">
    	<a href="#"><img src="images/logo.jpg" /></a> </div>
    <div class="tel">
    <h2>400-001-0002</h2>
    </div>
    </div>
<!--导航-->
<div class="nav">
<div class="nav-bg">
<ul>
<li><a href="index.html">网站首页</a></li>
<li><a href="about us.html">公司介绍</a></li>
<li class="on"><a href="news.html">新闻中心</a></li>
<li><a href="product.html">产品中心</a></li>
<li><a href="contact.html">联系我们</a></li>
</ul>
</div>
<div id="searchbox">
<input type="text" id="wenben" value="关键词搜索" />
<a href="#"><img src="images/nav-search.png" /></a>
</div>
</div>
<!--大背景-->
<div class="banner1">
 <img src="images/banner2.jpg" />
</div>
<!--侧导航-->
<div class="w1200"><div class="menu">
<i>A</i><em>关于我们<br />BOUT US</em>
</div></div>
<!--内容一-->
<div class="main">
<div class="main-l">
<div class="ce-nav">
<div class="list"><ul>
<li class="on1"><a href="#">公司介绍</a></li>
<li><a href="#">公司理念</a></li>
<li><a href="#">公司文化</a></li>
<li><a href="#">公司团队</a></li>
</ul></div>
</div>
<div class="contact">
<div class="number">
<h2>400-001-0002 </h2>
</div>
<div class="e-mail">
<h2>lihelihua@sine.com</h2>
</div>
<div class="TP">
<img src="images/1.jpg" />
</div>
</div>

</div>

<div class="main-r">
<div class="head">
<span>公司动态</span><i>Company Trends</i>
<em>当前位置&gt;&gt;<a href="#">新闻中心</a>&gt;&gt;<a href="#">公司动态</a></em>    
</div>
<div class="zhong-jian">
<div class="you">
<a href="news-detail.html" class="detail">联合利华都是家用洗涤和个人护理用品市场的主导者<span>2016年1月1日</span></a>
<div class="news">
<p>清扬是法国清扬技术中心的研究结晶,产品的附加值突破在于“维他矿物群”去屑，同时为“维他矿物群”进行了商标知识产权注册。<br />在过去10年中，以更多了解中国消费者头皮状况和问题从而为中国消费者提供更精纯的去屑产品配方。<a href="news-detail.html">更多详情</a></p>
<img src="images/news-2.jpg" />
</div>
				</div>
  <div class="you">
<a href="product-detail.html" class="detail">联合利华都是家用洗涤和个人护理用品市场的主导者<span>2016年1月1日</span></a>
<div class="news">
<p>清扬是法国清扬技术中心的研究结晶,产品的附加值突破在于“维他矿物群”去屑，同时为“维他矿物群”进行了商标知识产权注册。<br />在过去10年中，以更多了解中国消费者头皮状况和问题从而为中国消费者提供更精纯的去屑产品配方。<a href="product-detail.html">更多详情</a></p>
<img src="images/news-2.jpg" />
</div>
				</div>
 <div class="you">
<a href="product-detail.html" class="detail">联合利华都是家用洗涤和个人护理用品市场的主导者<span>2016年1月1日</span></a>
<div class="news">
<p>清扬是法国清扬技术中心的研究结晶,产品的附加值突破在于“维他矿物群”去屑，同时为“维他矿物群”进行了商标知识产权注册。<br />在过去10年中，以更多了解中国消费者头皮状况和问题从而为中国消费者提供更精纯的去屑产品配方。<a href="product-detail.html">更多详情</a></p>
<img src="images/news-2.jpg" />
</div>
				</div>
     <div class="you">
<a href="product-detail.html" class="detail">联合利华都是家用洗涤和个人护理用品市场的主导者<span>2016年1月1日</span></a>
<div class="news">
<p>清扬是法国清扬技术中心的研究结晶,产品的附加值突破在于“维他矿物群”去屑，同时为“维他矿物群”进行了商标知识产权注册。<br />在过去10年中，以更多了解中国消费者头皮状况和问题从而为中国消费者提供更精纯的去屑产品配方。<a href="product-detail.html">更多详情</a></p>
<img src="images/news-2.jpg" />
</div>
				</div>
     <div class="you">
<a href="product-detail.html" class="detail">联合利华都是家用洗涤和个人护理用品市场的主导者<span>2016年1月1日</span></a>
<div class="news">
<p>清扬是法国清扬技术中心的研究结晶,产品的附加值突破在于“维他矿物群”去屑，同时为“维他矿物群”进行了商标知识产权注册。<br />在过去10年中，以更多了解中国消费者头皮状况和问题从而为中国消费者提供更精纯的去屑产品配方。<a href="product-detail.html">更多详情</a></p>
<img src="images/news-2.jpg" />
</div>
				</div>
     <div class="you">
<a href="product-detail.html" class="detail">联合利华都是家用洗涤和个人护理用品市场的主导者<span>2016年1月1日</span></a>
<div class="news">
<p>清扬是法国清扬技术中心的研究结晶,产品的附加值突破在于“维他矿物群”去屑，同时为“维他矿物群”进行了商标知识产权注册。<br />在过去10年中，以更多了解中国消费者头皮状况和问题从而为中国消费者提供更精纯的去屑产品配方。<a href="product-detail.html">更多详情</a></p>
<img src="images/news-2.jpg" />
</div>
				</div>
  <div class="next">
    <a href="#">首页</a><a href="#">上一页</a><i class="DQ"><a href="#">1</a></i><i><a href="#">2</a></i><i><a href="#">3</a></i><i><a href="#">4</a></i><i><a href="#">5</a></i><i><a href="#">6</a></i><a href="#">下一页</a><a href="#">最后一页</a>
    </div>
		</div>
	</div>
</div>
<!--底部-->
<div class="dibu">
<div class="main04">
<ul>
<li><a href="#"><img src="images/6.jpg" /><br />我们<br /><i>We</i></a></li>
<li><a href="#"><img src="images/7.jpg" /><br />动态<br /><i>Dynamic</i></a></li>
<li><a href="#"><img src="images/8.jpg" /><br />产品<br /><i>Product</i></a></li>
</ul>
</div>
<div class="dibu-box">
<div class="dibu-l">
<img src="images/foot-logo.jpg" />
</div>
<div class="dibu-m">
<p class="address">公司地址：湖南省长沙市开福区五一大道湘江明珠大厦</p><br />
<p class="font">版权所有：Copyright © 2005-2011 www.cml.com.cn All Rights Reserved.</p>
</div>
<div class="dibu-r">
<i>QQ:400000000</i><br />
<em>官方网站:www.lianhelihua.com</em>

</div>
</div>
</div>
</body>
</html>
