<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link type="text/css" href="css/base.css" rel="stylesheet" />
<link type="text/css" href="css/product.css" rel="stylesheet" />
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/js.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联合利华-产品中心</title>
</head>

<body>
<!--头部-->
<div class="bg">
	<div class="logo">
    	<a href="#"><img src="images/logo.jpg" /></a> </div>
    <div class="tel">
    <h2>400-001-0002</h2>
    </div>
    </div>
<!--导航-->
<div class="nav">
<div class="nav-bg">
<ul>
<li><a href="index.html">网站首页</a></li>
<li><a href="about us.html">公司介绍</a></li>
<li><a href="news.html">新闻中心</a></li>
<li class="on"><a href="product.html">产品中心</a></li>
<li><a href="contact.html">联系我们</a></li>
</ul>
</div>
<div id="searchbox">
<input type="text" id="wenben" value="关键词搜索" />
<a href="#"><img src="images/nav-search.png" /></a>
</div>
</div>
<!--大背景-->
<div class="banner1">
 <img src="images/banner2.jpg" />
</div>
<!--内容一-->
<div class="w1200"><div class="menu">
<i>A</i><em>关于我们<br />BOUT US</em>
</div></div>
<div class="main">
<!--内容一 左边-->
<div class="main-l">
<div class="ce-nav">
<div class="list"><ul>
<li class="on1"><a href="#">公司介绍</a></li>
<li><a href="#">公司理念</a></li>
<li><a href="#">公司文化</a></li>
<li><a href="#">公司团队</a></li>
</ul>
		</div>
</div>
<div class="contact">
<div class="number">
<h2>400-001-0002 </h2>
</div>
<div class="e-mail">
<h2>lihelihua@sine.com</h2>
</div>
<div class="TP">
<img src="images/1.jpg" />
		</div>
	</div>

</div>
<!--内容一 右边-->
<div class="main-r">
<div class="head">
<span>产品中心</span><i>Product Center</i>
<em>当前位置&gt;&gt;<a href="#">产品中心</a>&gt;&gt;<a href="#">产品中心</a></em>    
</div>
<!--第一排-->
<div class="product">
<ul>
	<li><img src="images/QY-1.jpg" /><h2>清扬</h2>
    <div class="click">
    <a href="product-detail.html"><i>秀发更出众<br />头屑去无踪</i></a>
    </div>
    </li>
    <li><img src="images/QY-2.jpg" />  <h2>清扬</h2>
 <div class="click">
    <a href="product-detail.html"><i>秀发更出众<br />头屑去无踪</i></a>
    </div></li>
    <li><img src="images/QT-3.jpg" /> <h2>清扬</h2>
   <div class="click">
    <a href="product-detail.html"><i>秀发更出众<br />头屑去无踪</i></a>
    </div></li>
    <li c><img src="images/QY-4.jpg" /> <h2>清扬</h2>
   <div class="click">
    <a href="product-detail.html"><i>秀发更出众<br />头屑去无踪</i></a>
    </div></li>
    </ul>
			</div>
<!--第二排-->            
<div class="product">
<ul>
	<li><img src="images/QY-1.jpg" /><h2>清扬</h2>
    <div class="click">
    <a href="product-detail.html"><i>秀发更出众<br />头屑去无踪</i></a>
    </div>
    </li>
    <li><img src="images/QY-2.jpg" />  <h2>清扬</h2>
 <div class="click">
    <a href="product-detail.html"><i>秀发更出众<br />头屑去无踪</i></a>
    </div></li>
    <li><img src="images/QT-3.jpg" /> <h2>清扬</h2>
   <div class="click">
    <a href="product-detail.html"><i>秀发更出众<br />头屑去无踪</i></a>
    </div></li>
    <li c><img src="images/QY-4.jpg" /> <h2>清扬</h2>
   <div class="click">
    <a href="product-detail.html"><i>秀发更出众<br />头屑去无踪</i></a>
    </div></li>
    </ul>
			</div>
<!--第三排-->            
<div class="product">
<ul>
	<li><img src="images/QY-1.jpg" /><h2>清扬</h2>
    <div class="click">
    <a href="product-detail.html"><i>秀发更出众<br />头屑去无踪</i></a>
    </div>
    </li>
    <li><img src="images/QY-2.jpg" />  <h2>清扬</h2>
 <div class="click">
    <a href="product-detail.html"><i>秀发更出众<br />头屑去无踪</i></a>
    </div></li>
    <li><img src="images/QT-3.jpg" /> <h2>清扬</h2>
   <div class="click">
    <a href="product-detail.html"><i>秀发更出众<br />头屑去无踪</i></a>
    </div></li>
    <li c><img src="images/QY-4.jpg" /> <h2>清扬</h2>
   <div class="click">
    <a href="product-detail.html"><i>秀发更出众<br />头屑去无踪</i></a>
    </div></li>
    </ul>
			</div>
	
    <div class="next">
    <a href="#">首页</a><a href="#">上一页</a><i class="DQ"><a href="#">1</a></i><i><a href="#">2</a></i><i><a href="#">3</a></i><i><a href="#">4</a></i><i><a href="#">5</a></i><i><a href="#">6</a></i><a href="#">下一页</a><a href="#">最后一页</a>
    </div></div>
</div>
<!--底部-->
<div class="dibu">
<div class="main04">
<ul>
<li><a href="#"><img src="images/6.jpg" /><br />我们<br /><i>We</i></a></li>
<li><a href="#"><img src="images/7.jpg" /><br />动态<br /><i>Dynamic</i></a></li>
<li><a href="#"><img src="images/8.jpg" /><br />产品<br /><i>Product</i></a></li>
</ul>
</div>
<div class="dibu-box">
<div class="dibu-l">
<img src="images/foot-logo.jpg" />
</div>
<div class="dibu-m">
<p class="address">公司地址：湖南省长沙市开福区五一大道湘江明珠大厦</p><br />
<p class="font">版权所有：Copyright © 2005-2011 www.cml.com.cn All Rights Reserved.</p>
</div>
<div class="dibu-r">
<i>QQ:400000000</i><br />
<em>官方网站:www.lianhelihua.com</em>

</div>
</div>
</div>
</body>
</html>
