<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link type="text/css" href="css/base.css" rel="stylesheet" />
<link type="text/css" href="css/product-detail.css" rel="stylesheet" />
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/js.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联合利华-产品详情</title>
</head>

<body>
<!--头部-->
<div class="bg">
	<div class="logo">
    	<a href="#"><img src="images/logo.jpg" /></a> </div>
    <div class="tel">
    <h2>400-001-0002</h2>
    </div>
    </div>
<!--导航-->
<div class="nav">
<div class="nav-bg">
<ul>
<li><a href="index.html">网站首页</a></li>
<li><a href="about us.html">公司介绍</a></li>
<li><a href="news.html">新闻中心</a></li>
<li class="on"><a href="product.html">产品中心</a></li>
<li><a href="contact.html">联系我们</a></li>
</ul>
</div>
<div id="searchbox">
<input type="text" id="wenben" value="关键词搜索" />
<a href="#"><img src="images/nav-search.png" /></a>
</div>
</div>
<!--大背景-->
<div class="banner1">
 <img src="images/banner2.jpg" />
</div>
<!--内容一-->
<div class="w1200"><div class="menu">
<i>A</i><em>关于我们<br />BOUT US</em>
</div></div>
<div class="main">
<!--内容一 左边-->
<div class="main-l">
<div class="ce-nav">
<div class="list"><ul>
<li class="on1"><a href="#">公司介绍</a></li>
<li><a href="#">公司理念</a></li>
<li><a href="#">公司文化</a></li>
<li><a href="#">公司团队</a></li>
</ul>
		</div>
</div>
<div class="contact">
<div class="number">
<h2>400-001-0002 </h2>
</div>
<div class="e-mail">
<h2>lihelihua@sine.com</h2>
</div>
<div class="TP">
<img src="images/1.jpg" />
		</div>
	</div>

</div>
<!--内容一 右边-->
<div class="main-r">
<div class="head">
<span>产品详情</span><i>Product Center</i>
<em>当前位置&gt;&gt;<a href="#">产品中心</a>&gt;&gt;<a href="#">产品详情</a></em>    
</div>
<div class="product-detail">
<h2>William Heskith Lever</h2>
<h3>联合利华清扬</h3>
<p>2007年2月28日，被外界誉为联合利华首款去屑洗发水清扬品牌在全国正式上市，联合利华公司更 清扬男士洗发水 清扬男士洗发水 高调形容清扬的未来目标：十年磨一剑，旨在折桂冠！</p><br />
<p>2007年4月27日，清扬去屑洗发露产品的新产品发布会在北京举行，并现场请来了其广告代言人台湾当红艺人小S（徐熙娣）现身说法，除了分享自己的护发滋养、养发去屑的心得和经验，还巧妙地阐述了自己对于清扬品牌的理解就是――有型就要秀，无屑更清扬！从而清扬品牌在中国大陆市场的品牌推广工作正式开始拉开了序幕。清扬在进入中国以前，已经在南美、欧洲及东南亚地区去屑市场成为了当仁不让的第一品牌，并被数亿消费者证实了其在去屑方面的功效，联合利华（中国）公司高层公开表示：专业防治型去屑产品的空缺，是当前去屑市场所面临的最大问题，而依托于数十年的专业去屑研究经验的联合利华企业，对清扬在中国市场的未来表现充满信心，清扬更信心百倍地作出承诺，要带领中国消费者走出20年头屑痼疾的困扰。</p>
			</div>
  <div class="detail">
<div class="tupian">
<img src="images/QY-1.jpg" />
				</div>
 <div class="XQ">
 <h2>清扬男生去屑洗发露<br/>NBA官方限量版<br />给头发和头皮带来极酷冰爽感觉</h2>
 <p>品牌 ： 清扬<br />规格 ： 400ml<br />保质期 ： 3年<br />产地 ： 中国<br />适用人群 ： 适用各种头皮及发质<br />功效 ： 持久去屑保护，净享健康酷爽</p>
 </div>
 	</div>
 <div class="JS">
 <h2>核心技术</h2>
 <p>配方：特别研制的滋养因子10，蕴含多种营养成分，维他命和矿物质。<br />功效：经常使用，可有效滋养头皮天然保护层，给予更持久的去屑保护</p>
 			
		</div>
	</div>
</div>
<!--底部-->
<div class="dibu">
<div class="main04">
<ul>
<li><a href="#"><img src="images/6.jpg" /><br />我们<br /><i>We</i></a></li>
<li><a href="#"><img src="images/7.jpg" /><br />动态<br /><i>Dynamic</i></a></li>
<li><a href="#"><img src="images/8.jpg" /><br />产品<br /><i>Product</i></a></li>
</ul>
</div>
<div class="dibu-box">
<div class="dibu-l">
<img src="images/foot-logo.jpg" />
</div>
<div class="dibu-m">
<p class="address">公司地址：湖南省长沙市开福区五一大道湘江明珠大厦</p><br />
<p class="font">版权所有：Copyright © 2005-2011 www.cml.com.cn All Rights Reserved.</p>
</div>
<div class="dibu-r">
<i>QQ:400000000</i><br />
<em>官方网站:www.lianhelihua.com</em>

</div>
</div>
</div>
</body>
</html>
