#allmap {width: 100%; height:400px; overflow: hidden;}   
.hidden{display: none;}

.photolist li{
    list-style: none;
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    background-size: cover;
    margin: 5px;
    border: solid 3px white;
    cursor: pointer;
}

.photolist li span.title{
    /*display:inline;*/
    padding: 0px;
}

.photolist li.select{
    border: solid 3px black;
}


.avatar-wrapper {
    height: 250px;
    width: 70%;
    margin-top: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
    float: left;
}
.avatar-wrapper img {
    display: block;
    height: auto;
    max-width: 100%;
}

.loadUpImg{ width: 900px;height: 560px;border: 1px solid #ccc;margin: 0 auto;background: #fff;box-shadow: 0 0 5px #999;position: absolute;top: 0; left: 0;display: none; }
.loadUpImg-head{ width: 100%;height: 60px;border-bottom: 1px solid #ccc;position: relative;font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit; }
.loadUpImg-head span{ line-height: 60px; }
.loadUpImg-close{ width: 20px;height: 20px;text-align: center;line-height: 20px;position: absolute;top: 22px;right: 5px;cursor: pointer;float: right;font-size: 21px;font-weight: 700;;color: #000;text-shadow: 0 1px 0 #fff;filter: alpha(opacity=20);opacity: .2; }
.loadUpImg-con{ margin-left: 10px; }
.loadUpImgCon-img{ height: 255px; margin-top: 5px;}
.loadUpImgCon-ipt{ height: 30px;margin-top: 10px; }
.loadUpImgConImg-right{ width: 29%;float: left; }
.loadUpImgConImg-right1{ width: 100px;height: 100px;border: 1px solid #ccc;margin-top: 10px;margin-left: 20px; }
.loadUpImgConImg-right1 img,.loadUpImgConImg-right2 img,.loadUpImgConImg-right3 img{ width: 100%;height: 100%; }
.loadUpImgConImg-right2{ width: 70px;height: 70px;border: 1px solid #ccc;margin-top: 10px;margin-left: 20px; }
.loadUpImgConImg-right3{ width: 40px;height: 40px;border: 1px solid #ccc;margin-top: 10px;margin-left: 20px; }
.layui-upload-img,.layui-upload-photopanle,.layui-upload-imglist{ max-width: 300px;max-height: 100px; cursor: pointer; }

.userInfoHos{ padding-top: 15px; }
.userInfoImg1{ margin: 40px 0; }
.layui-upload-list{ display: inline-block;margin-top: -20px;}

.layui-upload-list p i{ cursor: pointer;}
.userInfoImg2{ margin-top: 60px;margin-bottom: 84px!important; }
.loadUp_Toolsbar{height: 25px; padding-top: 10px;}
.avatar-preview{overflow: hidden;}
.rightbtn{float: right;margin-right: 20px;}
.userInfoTopO{ margin-bottom: 60px; }

.layerphoto img{
    cursor: pointer;
}