<extend name="Public:base" />
<block name="css"> 
    <style>        
        .newsdetail>.newshead{          
            text-align: center;
        }
        .newsdetail>.newsbody{          
           padding: 2rem;
           height: 20rem;
           overflow-y: auto;
        }
        
        .tm-footer {
            margin-top: 3rem;
        }
    </style>
</block>
<block name="body">
    <div class="container-fluid">
        <div id="top">
            <include file="Public/nav" />    
        </div> 
    </div>   

    <div class="container-fluid">
        <div class="row tm-section-small-pad">
            <include file="Public/mbx" />  
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    
                    <div class="tm-plan-boxes-container">
                    
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-table-container">                            
                            <div class="tm-table-full-width tm-font-thin newsdetail">
                                <div class="tm-plan-table-header tm-color-green newshead"> {$model.page_title}</div>
                                <div class="tm-bg-green-2 newsbody">{$model.content}</div>   
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-table-container">
                            <div class="tm-table-full-width tm-font-thin newsdetail">
                                <div class="tm-plan-table-header tm-color-blue newshead"> {$emodel.page_title}</div>
                                <div class="tm-bg-blue-2 newsbody">{$emodel.content}</div> 
                            </div>
                        </div>

                    </div>

                </div>
            
        </div> 
    </div>
    <div class=" tm-bg-img-header2">
        <div class="container-fluid">
            <include file="Public/footer" />  
        </div>
    </div>
</block>        
<block name="footer">
    <!--<script src="__PUBLIC__/frame/angular/angular.min.js"></script>-->  
    <!--<script src="__PUBLIC__/frame/layui/layui.js" type="text/javascript"></script>-->
    <script type="text/javascript">
            $(document).ready(function () {
                $(".tm-navbar-row").addClass("sticky");
            });
    </script>  
</block>
