<extend name="Public:base" />
<block name="css">
    <link type="text/css" href="__STATIC__/css/product.css?t={:MUYUVERSION}" rel="stylesheet" />
</block>
<block name="body">
    <!--内容一-->
    <div class="w1200"><div class="menu">

        </div></div>
    <div class="main">
        <!--内容一 左边-->
   <include file="Public/product" />
        <!--内容一 右边-->
        <div class="main-r">
            <div class="head">             
                <span>
                    {:showTagbyValue('Product')}</span><i>
                        {:showTagbyValue('Product','shorttitle')}
                   </i>
                 <em>{:showTagbyValue('currentlocation')}&gt;&gt;<a href="#">{:showTagbyValue('Product')}</a></em>  
            </div>
            <!--第一排-->
            <div class="product">
                <ul>
                    <foreach name="dlist" item="v" key="key"> 
                        <li><img src="{$v|creatThumbImages=205,200}" /><h2>{$v.title|getSubstr=10}</h2>
                            <div class="click">
                                <a href="{$v|productdetail}#pro" title="{$v.title}"><i>{$v.title}<br></i></a>
                            </div>
                        </li> 
                    </foreach> 
                </ul>
            </div>          

            <div class="next">
                <!--                    <a href="#">首页</a>-->
                <a href="{$pagestr.up_page}#pro">{:showTagbyMark('Prev_Page')}</a>
                <foreach name="pagestr.numlist" item="v" key="key"> 
                    <i  class=" <empty name='v.url'> DQ</empty>" ><a href="{$v.url}#pro">{$v.title}</a></i>
                </foreach>                     
                <a href="{$pagestr.down_page}#pro" >{:showTagbyMark('Next_Page')}</a>
                <!--                    <a href="#">最后一页</a>-->
            </div>
        </div>
    </div>
</block>
<block name="footer"></block>