<div class="row tm-footer">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-xs-center">

        <div class="tm-social-icons-container">
            <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-qq tm-social-icon"></i></a>
            <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-html5 tm-social-icon"></i></a>
            <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-weibo tm-social-icon"></i></a>
            <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-weixin tm-social-icon"></i></a>
            <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-github-square tm-social-icon"></i></a>
        </div>
    </div>
    <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-xs-center">
        <p class="tm-copyright-text"><a href="http://www.fakeruhe.com/" target="_blank">{$bconfig.web_copyright}</a></p>
    </footer>
</div> 