<extend name="Public:base" />
<block name="body">
     <form method="post" action="" class="layui-form">
    <div class="layui-tab">       
        <ul class="layui-tab-title">     
                <li class="layui-this">{$subtitle}</li>          
        </ul>
        <div class="layui-tab-content">            
             
                    <div class="layui-tab-item layui-show">
                       <foreach name="setdata" item="v" key="k">                          
                            <div class="layui-form-item {$v.lineclass}">
                                <label class="layui-form-label ">{$v.title}</label>
                                <div class="layui-input-block  tips"  id="tipsid{$k}" tips="{$v.titledesc}">
                                    {$v.content}           
                                </div>
                            </div>                        
                        </foreach>   
                    </div>
             
            <div class="layui-form-item">
                <div class="layui-input-block">            
                    {__TOKEN__}
                   <input type="hidden" name="id" value="{$id}" id="idddx" />
                    <a class="layui-btn" lay-submit="" lay-filter="submit1">立即提交</a>
                    <button type="button" class="layui-btn layui-btn-primary form-render">重新渲染</button>
                    {:showjumpandflash()}
                </div>
            </div>
        </div>        
    </div>
         </form>
<script type="text/javascript" src="__EDITOR__/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__EDITOR__/ueditor.all.js"></script>
    <script type="text/javascript">
        //Uedit编辑器上传
        var uploadimage = "{$imageservice}{:U('/api/index/uploadimage',array('mid'=>$manage['m_id']))}";
        var uploadscrawl = "{$imageservice}{:U('/api/index/uploadscrawl',array('mid'=>$manage['m_id']))}";
        var uploadvideo = "{$imageservice}{:U('/api/index/uploadvideo',array('mid'=>$manage['m_id']))}";
        var catchimage = "{$imageservice}{:U('/api/index/catchimage',array('mid'=>$manage['m_id']))}";
        var listimage = "{$imageservice}{:U('/api/index/listimage',array('mid'=>$manage['m_id']))}";


        //layui上传控件相关
        var uploadimg = "{:U('/api/upload/upload')}";  //图片上传
        var picexts = '{:getUploadExts()}';//允许的图片类型
        var picsize = '{:getUploadSize()}';//允行上传的图片大小

        var uploadfile = "{:U('/api/upload/uploadfile')}";//文件上传
        var fileexts = '{:getUploadExts("file")}';//允许的上传文件类型
        var filesize = '{:getUploadSize("file")}';//允行上传的上传文件大小
        var delfile = "{:U('/api/upload/del')}";       //删除文件 
    </script>
    <script src="__STATIC__/js/tablecard.js?t={:MUYUVERSION}" type="text/javascript"></script>
</block>