<extend name="Public:base" />
<block name="body">
    <form method="post" action="" class="layui-form layui-form-pane">
        <div class="layui-tab">       
            <ul class="layui-tab-title">
                <foreach name="tablecard" item="v" key="k"> 
                    <li class=" <eq name='v' value='$webconfig.default_lang'>layui-this</eq>">
                        {$k}
                    </li>
                </foreach>  
                <foreach name="basecard" item="v" key="k"> 
                    <neq name="k" value="langue">
                    <li>
                     {:getkeyname($k,'tableCart',$v)}      
                    </li>
                    </neq>
                </foreach> 
            </ul>
            <div class="layui-tab-content">   
                <foreach name="tablecard" item="i" key="t">                           
                    <div class="layui-tab-item  <eq name='i' value='$webconfig.default_lang'> layui-show</eq>">
                        <foreach name="setdata" item="v" key="k"> 
                            <eq name='v["tableindex"]' value='langue'>
                            <php>
                                $m=$v['model'];
                                $value = $lanmodel[$i][$v['key']];                                
                                $v2=show_list($m, $i.'__'.$v['key'], false, $value);</php>

                            <div class="layui-form-item {$v2.lineclass}">
                                <label class="layui-form-label ">{$v2.title}</label>
                                <div class="layui-input-block tips"  id="tipsid{$k}" tips="{$v.titledesc}">                                   
                                    {$v2.content}
                                </div>
                            </div>

                            </eq>
                        </foreach>  
                    </div>                         
                </foreach> 
                <foreach name="basecard" item="t" key="i"> 
                    <neq name="t" value="langue">
                    <div class="layui-tab-item">
                        <foreach name="setdata" item="v" key="k"> 
                            <eq name='i' value='$v["tableindex"]'>                                        

                            <div class="layui-form-item {$v.lineclass}">
                                <label class="layui-form-label ">{$v.title}</label>
                                <div class="layui-input-block tips"  id="tipsid{$k}" tips="{$v.titledesc}">
                                    {$v.content}           
                                </div>
                            </div>
                            </eq>
                        </foreach>   
                    </div>
                    </neq>
                </foreach>    

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="sid_id" value="{$sid_id}" />
                        <input type="hidden" name="id" value="{$id}" id="idddx" />                        
                        <a class="layui-btn" lay-submit="" lay-filter="submit1">立即提交</a>
                        <a type="button" class="layui-btn layui-btn-primary form-render">重新渲染</a>
                       {:showjumpandflash()}
                    </div>
                </div>
            </div>        
        </div>
    </form>
    <script type="text/javascript" src="__EDITOR__/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__EDITOR__/ueditor.all.js"></script>
    <script type="text/javascript">
        //Uedit编辑器上传
        var uploadimage = "{$imageservice}{:U('/api/index/uploadimage')}";
        var uploadscrawl = "{$imageservice}{:U('/api/index/uploadscrawl')}";
        var uploadvideo = "{$imageservice}{:U('/api/index/uploadvideo')}";
        var catchimage = "{$imageservice}{:U('/api/index/catchimage')}";
        var listimage = "{$imageservice}{:U('/api/index/listimage')}";
        var edituploadfile = "{$imageservice}{:U('/api/index/uploadfile')}";//文件上传

        //layui上传控件相关
        var uploadimg = "{:U('/api/upload/upload')}";  //图片上传
        var picexts = '{:getUploadExts()}';//允许的图片类型
        var picsize = '{:getUploadSize()}';//允行上传的图片大小

        var uploadfile = "{:U('/api/upload/uploadfile')}";//文件上传
        var fileexts = '{:getUploadExts("file")}';//允许的上传文件类型
        var filesize = '{:getUploadSize("file")}';//允行上传的上传文件大小
        var delfile = "{:U('/api/upload/del')}";       //删除文件         

    </script>     
    <script src="__STATIC__/js/tablecard.js?t={:MUYUVERSION}" type="text/javascript"></script>
</block>